* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #121212;
}

body {
    padding: 60px;
    color: white;
}

input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 50px;
}

h1, h2, h3 {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    max-width: 300px;
    max-height: 400px;
    color: black;
}

.card p {
    background-color: white;
    flex: 1;
    font-size: 0.7rem;
    margin-top: 5px;
    padding: 5px 20px 0 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Para pantallas de 768px o más pequeñas */
@media (max-width: 768px) {
    body {
        padding: 40px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    .card-grid {
        flex-direction: column; /* Cambiar a columna para pantallas más pequeñas */
        justify-content: flex-start;
    }

    .card {
        max-width: 100%; /* Tarjetas ocupan el 100% del ancho */
        max-height: 350px; /* Limitar la altura de las tarjetas */
        margin-right: 0; /* Eliminar margen derecho */
    }

    .card img {
        height: 150px; /* Reducir altura de la imagen en pantallas pequeñas */
    }

    input {
        font-size: 1rem; /* Reducir el tamaño de la fuente del input */
    }
}

/* Para pantallas de 480px o más pequeñas */
@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .card {
        max-width: 100%; /* Tarjetas ocupan el 100% del ancho */
        max-height: 300px; /* Limitar aún más la altura de las tarjetas */
        margin-bottom: 15px; /* Ajustar margen inferior */
    }

    .card img {
        height: 130px; /* Reducir más la altura de la imagen */
    }

    input {
        font-size: 0.9rem; /* Reducir el tamaño de la fuente del input */
    }
}
